{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Login</title>
</head>

<body class="container mt-2">
    <div class="card">
        <div class="card-header alert-primary"><strong>Login</strong></div>
        <div class="card-body card-block">
            {%if form.errors%}
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Error</h4>
                <p>Por favor introduzca un nombre de usuario y una contraseña correctos. Tenga en cuenta que ambos
                    campos son sensibles a mayúsculas/minúsculas.</p>
            </div>
            {%endif%}
            <form method="POST">
                {% csrf_token %}
                <div class="">
                    <div class="form-group">
                        <div class="row form-group">
                            <div class="col col-md-3">{{form.username.label}}</div>
                            <div class="col-12 col-md-9">
                                {{form.username}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row form-group">
                            <div class="col col-md-3">{{form.password.label}}</div>
                            <div class="col-12 col-md-9">
                                {{form.password}}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Entrar <i
                            class="fas fa-arrow-circle-right"></i></button>
                </div>
                <hr>
                ¿No tienenes cuenta? <a href="/registro">Regístrate ahora</a>
            </form>
        </div>
    </div>
    </div>
    <!--SCRIPTS-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>